@model CustomerViewModel

<form asp-controller="customer" asp-action="Edit" method="post">
    <input asp-for="CustomerId" type="hidden" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <edit-input model-for="FirstName" label-text="First Name"></edit-input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <edit-input model-for="LastName" label-text="Last Name"></edit-input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>