@model CustomerViewModel

<form asp-controller="customer" asp-action="EditMany" method="post">
    <input asp-for="CustomerId" type="hidden" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <customer-input customer="Model" customer-for="FirstName" label-text="First Name"></customer-input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <customer-input customer="Model" customer-for="LastName" label-text="Last Name"></customer-input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>