@model CustomerViewModel

<form asp-controller="customer" asp-action="EditMany" method="post">
    <input asp-for="CustomerId" type="hidden" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <customer-input customer="Model" customer-for="FirstName"></customer-input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" type="text" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>