@model CustomersViewModel

<div class="row">
    <h1>Customers</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
        </div>
    </div>
</div>