@page
@using AspNetCorePlayground.Web.Views.Customer
@model IndexModel

<div class="row">
    <div class="col-md-12">
        <h1>Customer/Index</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        Customer Count: @Model.CustomerCount
    </div>
</div>